body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #fafafa;
}

.box {
    width: 300px;
    height: 500px;
    float: left;
    box-shadow: 0 0 3px 2px #0000002e;
    margin-top: 30px;
    margin-left: 30px;
    background: #fff;
    border-radius: 2px;
}

svg { font-size: 20px; display: none; color: #a6a6a6; }

.box li:hover { background: #fafafa; }

.title, form { padding: 0 15px; }

input {
  padding: 7px;
  border-radius:4px;
  background: #ededed;
  border: 0;
  color: #c1c1c1;
}

button {
    background: #4990e2;
    border: 0;
    color: #fff;
    padding: 7px 15px;
    border-radius: 4px;
    float: right;
}

.country-dropdown {
    position: absolute;
    width: 183px;
    font-size: 15px;
}

.country-dropdown ul {
    background: #fff;
    margin-top: 0px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    box-shadow: 0 0 5px 0px #0000002e;
    border-radius: 4px;
}

.country-dropdown li {
  padding: 7px;
  border-bottom: 1px solid #ccc;
}

button:disabled,
button[disabled]{ background-color: #c1c1c1; color: #fff; }

.favorite-container svg {color: #fac92f; display: inline-block;}

.country-list { height: 320px; }

.favorite-list { height: 365px; }

.country-list .favorite-list, ul { list-style-type: none; padding-left: 0; }

.country-list .favorite-list, li { padding: 7px 15px; }

.country-container li:hover .button-container svg { display: block; }

.button-container { float: right; }

.delete-button svg:hover { color: red; }

.favorite-button { margin-left: 10px; }

.favorite-button svg:hover { color: #fac92f; }

.pagination { padding: 15px; }

.delete-button, .favorite-button { display: inline-block; }

.prev { float: left; }

.next { float: right; }